*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}


nav{
    height: 70px;
    width: 100%;
    margin:0px;
    background: #271e36;
}

nav ul{
    float:right;
    box-sizing: border-box;
    margin: 0 5px;
    
}

nav ul li{
    display: inline-block;
    margin: 0;
    margin-top: 27px;
    
}

#mid{
    margin-right: 300px;
}

#mid a{
    color: white;
    
}

#work {
    color: white;
}


.dropdown{
    display: inline-block; 
    position: relative; 
   
}
#usuario{
    background-color: #27282F;
    color: white;
    border: #271e36;
    cursor: pointer; 
}

.dropdown-content {
    color: black;
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
    cursor: pointer; 
    color: black;
    background-color: white;
    padding: 5px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
    cursor: pointer; 
    
}
.dropdown-content a:hover {
    color: black;
    background-color: azure;   
}


footer{
    background: #271e36;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
      
}

